@import url('//fonts.googleapis.com/earlyaccess/nanumpenscript.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.doctorSection {
  max-width: 130rem;
  margin: 10.4rem auto 12.7rem;
}

.mainTitle {
  font-family: var(--font-family-pretendard);
  font-size: 6.4rem;
  font-weight: 500;
  font-variation-settings: 'wght' 500;

  margin-bottom: 10.4rem;
}

.doctorList {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin-left: 1.4rem;
}

.doctorCard {
  position: relative;

  display: flex;
  align-items: flex-start;

  background: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 1.6rem;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

.doctorImage {
  width: 46rem;
  height: 41.6rem;

  object-fit: cover;
  object-position: top;
}

.doctorInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 6.5rem 4.1rem 4.5rem 12.1rem;
}

.doctorName {
  font-family: var(--font-family-pretendard);
  font-size: 3rem;
  font-weight: 700;
  font-variation-settings: 'wght' 700;

  margin-bottom: 6.3rem;
}

.doctorDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.3rem;

  font-family: var(--font-family-pretendard);
  font-size: 1.6rem;
  font-weight: 400;
}

.detailItem {
  display: grid;
  grid-template-columns: 10.5rem 27.3rem;
  row-gap: 1.2rem;
}

.detailLabel {
  grid-column: 1 / 2;
}

.detailValue {
  grid-column: 2 / 3;
}

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  width: 5.1rem;
  height: 5.1rem;

  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
}

.arrowIcon {
  width: 1.9rem;
  height: 1.98rem;

  rotate: 90deg;
}

.doctorDescription {
  margin-top: 6.4rem;
}

.descriptionText p {
  font-family: var(--font-family-pretendard);
  font-size: 1.6rem;
  line-height: 2.25;
}

.descriptionText p:first-of-type {
  font-family: 'Nanum Pen Script';
  font-size: 4rem;
}

.reservationButton {
  position: absolute;
  left: 1.8rem;
  bottom: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20.1rem;
  height: 5.7rem;

  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 28.5rem;

  font-size: 2.4rem;
}
