.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.appointment {
  overflow: hidden;
  padding: 104px 204px;
}

.doctorList {
  float: left;
}

.cardList {
  display: flex;
  flex-direction: column;
  margin-top: 104px;
  gap: 16px;
}

.doctorCard {
  display: flex;
  width: fit-content;

  border: solid 1px #d2d2d2;
  border-radius: 16px;

  cursor: pointer;
}

.doctorCard > img {
  width: 368px;

  border-radius: 16px 0 0 16px;
}

.doctorDescription {
  padding: 50px 30px 39px 34px;

  border-radius: 0 16px 16px 0;
}

.doctorDescription > p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
}
.doctorDescription > p:nth-child(2) {
  margin-top: 7px;

  font-size: 32px;
  font-weight: 700;
}

.department {
  display: flex;
  margin-top: 50px;
}

.department > p {
  font-size: 16px;
  font-weight: 500;
}

.department > ul {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 6px;
}

.department li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  padding: 10px;

  font-weight: 500;
  font-size: 16px;
  border: solid 1px #fe7352;
  border-radius: 19px;
}

.department li:first-child {
  color: #ffffff;
  border: none;
  background-color: #fe7352;
}

.appointmentCalendar {
  float: right;
}

.medicalBookingCalendar {
  width: 783px !important;
  height: 650px !important;
  max-width: none !important;
  margin-top: 104px;
}

/* 각 날짜 셀 크기 조절 */
.medicalBookingCalendar :global(.react-calendar__tile) {
  width: 80px !important;
  height: 80px !important;

  font-size: 30px;
}

/* 캘린더 헤더 높이 조절 */
.medicalBookingCalendar :global(.react-calendar__navigation) {
  height: 100px !important;

  font-size: 30px;
}

/* 요일 헤더 높이 조절 */
.medicalBookingCalendar :global(.react-calendar__month-view__weekdays) {
  height: 80px !important;

  font-size: 30px;
}

.timeTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 34px;
  padding: 0;
  gap: 16px;

  list-style: none;
}

.timeTable > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 385px;
  height: 70px;

  font-size: 32px;
  color: #888888;
  border: solid 1px #d2d2d2;
  border-radius: 16px;
  background-color: transparent;

  transition: all 0.2s ease;
}

.timeTable > button.available:hover {
  color: #ffffff;
  border: none;
  background-color: #fe7352;
  cursor: pointer;
}

.timeTable > button.unavailable {
  background-color: #d8d8d8;
}
