/* reset.css */
* {
  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;

  color: #000;
  font-family: 'Pretendard', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input,
button {
  cursor: pointer;
  /* border: none; */
}

button {
  background: none;
}

/* style.css */
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(40px, 8vw, 79px);
}

.loginPageHeader {
  margin-top: clamp(80px, 15vw, 207px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(30px, 6vw, 58px);
}

.logo {
  width: clamp(350px, 60%, 600px);
}

.loginPageHeader > p {
  color: #888888;
  font-size: clamp(16px, 4vw, 32px);
}

.loginPageMain {
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 4vw, 40px);

  width: clamp(300px, 70%, 831px);

  padding: clamp(20px, 10%, 80px) clamp(10px, 10%, 97px);
  margin-bottom: clamp(100px, 20vw, 220px);

  border: solid 1px #d2d2d2;
  border-radius: 16px;
}

.loginInputBox {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 2.5vw, 20px);
}

#userId,
#userPw,
.remember,
.findIdPw > * {
  font-size: clamp(16px, 2.5vw, 22px);
}

#userId,
#userPw {
  width: 100%;
  padding: clamp(12px, 2vw, 17px);

  color: #acacac;

  border: solid 1px #d2d2d2;
  cursor: text;
}

.userPwBox {
  position: relative;
  display: flex;
  align-items: center;
}

.showPwdBtn {
  border: none;
}

.showPwdBtn:focus {
  outline: none;
}

.loginPageMain .showPwdBtn img {
  position: absolute;

  right: 0;
  transform: translateY(-50%);

  width: 40px;
  height: 25px;
  margin-right: 15px;
}

.remember {
  display: flex;
  align-items: center;
  gap: clamp(6px, 1.5vw, 10px);

  color: #6b6b6b;
}

#remember {
  width: clamp(20px, 4vw, 38px);
  height: clamp(20px, 4vw, 38px);

  cursor: pointer;
}

.loginSubmit,
.joinBtn {
  font-size: clamp(18px, 3vw, 26px);

  width: 100%;
  height: clamp(60px, 8vw, 75px);

  border: solid 2px #fe7352;
  border-radius: 16px;
}

.loginSubmit {
  color: #fff;
  background-color: #fe7352;
}

.findIdPw {
  display: flex;
  justify-content: center;
  gap: clamp(12px, 2.5vw, 20px);
}

.findIdPw > * {
  color: #6b6b6b;
}

.joinBtn {
  margin-top: clamp(20px, 4vw, 35px);
  color: #fe7352;
}
